<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Hangman Honziku</title>
</head>
<body>
    <table id='main'>
        <tr>
            <td id="slovo" colspan="2">
            {{SLOVO}}
            </td>
        </tr>
        <tr>
            <td id="ovladani">
            <form action="" method="post">
                <input type="radio" name="radio" value="pismeno" checked id="pismeno" onclick="zmenaPole1()">Pismeno
                <input type="radio" name="radio" value="sluvko" id="sluvko" onclick="zmenaPole2()">Slovo
                </br></br>
                <input type="text" maxlength="1" size='1' name="hadane-pismeno" class="textpole" id="text_pismeno">
                <input type="text" maxlength="20" size='20' name="hadane-slovo" class="textpole" id="text_slovo">
                <input type="submit" value="Hádat" name="hadat" class="button" id="hadat"><p>
                <input type="submit" value="Nová hra" name="start" class="button">
                <input type="submit" value="Konec" name="konec" class="button">
            </form>
            <p>Zbyva zivotu: {{ZIVOTY}}
        </td>
            <td id="sibenice" rowspan="2">
                <img src="images/hang{{ZIVOTY}}.png">
            </td>
        </tr>
        <tr>
            <td id="zpravy">
            {{HLASKA}}
            </td>
        </tr>
        <script>

            function zmenaPole1() {
                document.getElementById('text_pismeno').style.cssText = 'display: block';
                document.getElementById('text_slovo').style.cssText = 'display: none';
            }
            function zmenaPole2() {
                document.getElementById('text_pismeno').style.cssText = 'display: none';
                document.getElementById('text_slovo').style.cssText = 'display: block';
            }

        </script>
    </table>
</body>
</html>