body        {
    background-image: url("images/wood_main.jpg");
            }
.button {
    font-size: 25px;
}

.textpole {
    font-size: 25px;
}

table, td         {

            padding: 15px;
    background-image: url("images/wood.jpg");
    color: white;
    font-size: 35px;
            }
#main    {
            width: 80%;
            height: 80%;
            margin-left: auto;
            margin-right: auto;
    margin-top: 70px;
    border-color: black;
            padding: 0px;
    border-style: solid;
    border-width: medium;
    border-color: white;
            }
#slovo   {
            height: 50px;
            width: 100%;
            border-color: brown;
            margin-left: auto;
            margin-right: auto;
            font-size: 55px;
            font-family: Verdana;
            }
#ovladani {
            height: 650px;
            width: 450px;
            border-color: green;
            }
#zpravy  {
            width: 450px;
            border-color: blue;
            height: 50px;
            font-size: 30px;
            }
#sibenice  {
            width: 900px;
            border-color: orange;
            height: 650px;
            }
#text_pismeno    {
            display: block;
}
#text_slovo {
            display: none;
}